<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset class="name-field">
            {{ form.name.label }}
            {{ form.name(class='form-control', placeholder='Name') }}
        </fieldset>
        <fieldset class="photos-field">
            {{ form.photos.label }}
            {{ form.photos(class='form-control', placeholder='Photos') }}
        </fieldset>
        <fieldset class="description-field">
            {{ form.description.label }}
            {{ form.description(class='form-control', placeholder='Description') }}
        </fieldset>
        <fieldset class="breed-field">
            {{ form.breed.label }}
            {{ form.breed(class='form-control', placeholder='Breed') }}
        </fieldset>
        <fieldset class="gender-field">
            {{ form.gender.label }}
            {{ form.gender(class='form-control', placeholder='Gender') }}
        </fieldset>
        <fieldset class="age-field">
            {{ form.age.label }}
            {{ form.age(class='form-control', placeholder='Age') }}
        </fieldset>
        <fieldset class="size-field">
            {{ form.size.label }}
            {{ form.size(class='form-control', placeholder='Size') }}
        </fieldset>
        <fieldset class="distance-field">
            {{ form.distance.label }}
            {{ form.distance(class='form-control', placeholder='Distance') }}
        </fieldset>
        <fieldset class="contact-field">
            {{ form.contact.label }}
            {{ form.contact(class='form-control', placeholder='Contact') }}
        </fieldset>
        {{ form.submit_button(class = 'btn btn-primary btn-block mt-2' )}}
    </div>
</form>